.order{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: white;
  .top-section {
    width: 100%;
    height: fit-content;
  }
  .bottom-section {
    width: 100%;
    height: calc(100% - 60px);
    display: flex;
    .listing-section {
      padding: 15px;
      width: 70%;
      height: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 15px;
      .order-table{
        width: 100%;
        height: 100%;
      }
    }
    .detail-view {
      width: 30%;
      height: 100%;
      padding: 15px;
      overflow-x: hidden;
    }
  }
}
