.radio-button-group {
  width: 100%;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
  }
  
  .radio-button {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: Arial, sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
  }
  
  .radio-label {
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 500;
  }
  
  input[type="radio"] {
    cursor: pointer;
    accent-color: #007bff; /* Change to your preferred theme color */
  }
  